{{ define "banner"}}
<div style="background-image: url('header.jpeg'); background-size: cover; background-position: center;" class=" py-12 md:py-16 flex flex-row justify-center items-center">
	<div class="mx-4 max-w-full text-center overflow-hidden sm:w-fit w-full">
        <h1 class="font-cormorant text-5xl text-white font-semibold bg-burgundyFaded py-3 sm:px-12 uppercase">{{ .Title }}</h1>
    </div>
</div>
{{ end }}

{{ define "main" }}
	<main class="container mx-auto px-4">
		<section class="grid auto-rows-auto gap-4" style="grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));">
			{{ range .Resources.ByType "image" }}
			{{ $image := . }}
			{{ with .Resize "450x webp q70" }}
			<div class="h-72 cursor-pointer">
				<img loading="lazy" src="{{ .RelPermalink }}" alt="{{ $image.Title }}" data-modal-target="{{ $image.Title }}" data-modal-toggle="{{ $image.Title }}"
					class="object-cover w-full h-full transition-all duration-75 border-none hover:border-solid border-gold border-8">
			</div>
			{{ end }}
			<div id="{{ $image.Title }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
				<div class="flex flex-col relative p-4 w-full max-w-2xl max-h-full">
					<button type="button" class=" self-end bg-burgundy  bg-opacity-70 text-gray-300 rounded-sm text-sm w-7 h-7 ms-auto inline-flex mr-5 mt-4 justify-center absolute items-center" data-modal-hide="{{ $image.Title }}">
						<svg class="w-4 h-4" aria-hidden="true" fill="none" viewBox="0 0 14 14">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
					{{ with .Fit (printf "%dx%d webp" .Width .Height) }}
					<img loading="lazy" src="{{ .RelPermalink }}" alt="{{ $image.Title }}"
					class="w-auto max-h-[90vh] mx-auto">
					{{ end }}
				</div>
			</div>
			{{ end }}
		</section>
	</main>
{{ end }}