{{ define "main" }}
<main class="">
	<div class="container mx-auto px-4">
		<div class="mt- flex flex-col">
			<h1 class="text-7xl w-9/12">Websites from the ground up, because <span class=" text-accentOrange font-medium">your business deserves it.</span></h1>
			<p class="text-right w-9/12 text-4xl right-0 mt-12 self-end mb-4">Bespoke websites, that means no WordPress, no Squarespace, no Wix, <span class="text-accentBlue">no website builder of any kind!</span></p>
			<a class="bg-accentOrange uppercase font-montserrat self-end text-offWhite text-2xl font-semibold w-fit py-3 px-14 transition-all duration-100 hover:border-none border-r-[6] border-b-[6] border-black" href="/about#contact">Enquire Today</a>
		</div>
	</div>

	<div class="container mx-auto px-4">
		<div class="mt-28">
			<h2 class="text-5xl text-center">Why go <span class="text-accentBlue font-medium">Bespoke?</span></h2>
			<p class="text-2xl mt-6 font-light">Because your business is unique, and your website should be too. <span class="text-accentOrange font-normal">Make your business stand out from your competitors</span> who all have websites that look the same. We build your website from the ground up, just for you.</p>
			<p class="text-2xl mt-4 font-light">Bespoke sites are <span class="text-accentOrange font-normal">faster to load</span>, especially compared to WordPress sites, this is due to far less “fat” that has to be loaded with the rest of the website. Improving your websites visibility and customer satisfaction.</p>
		</div>
	</div>

	<div class="bg-bgOrange py-16 mt-20">
		<div class="container mx-auto flex flex-col px-4">
			<p class="text-5xl text-center self-center w-9/12">The likelihood a <span class="text-accentBlue font-medium">user goes</span> to a competitor <span class="text-accentBlue font-medium">increases by 32%</span> when your page load time reaches <span class="text-accentBlue font-medium">3 seconds.</span></p>
			<p class="text-2xl text-center self-center mt-8 font-light">Which can easily happen with a customer using a device on a slow network.</p>
		</div>
	</div>
</main>
{{ end }}