{{ define "main" }}
<main>
	<div class="container mx-auto px-5">
		<div class="mt-8 md:mt-28 flex flex-col">
			<p class="text-center md:text-left font-light text-md md:text-2xl uppercase pb-1">No Wordpress, No Squarespace, 100% hand coded</p>
			<h1 class="text-center md:text-left text-5xl md:text-7xl md:w-9/12 font-semibold ">Websites from the ground up, because <span class=" text-accentOrange font-bold">your business deserves it.</span></h1>
			<p class="text-center md:text-right md:w-9/12 text-2xl md:text-4xl right-0 mt-16 md:mt-24 self-end mb-4">Locally made bespoke websites with <span class="text-accentBlue font-medium">superior page rankings</span> from £750. Give your business that unique edge.</span></p>
			<a class="button self-center md:self-end text-xl md:text-2xl" href="/contact">Enquire Today</a>
		</div>
	</div>

	<div class="container mx-auto px-5">
		<div class="mt-32 md:w-8/12 grid grid-flow-row justify-self-center text-left">
			<h2 class="text-5xl md:text-center font-semibold">Why go <span class="text-accentOrange font-bold">Bespoke?</span></h2>
			<p class="text-2xl mt-6">Because your business is unique, and your website should be too. <span class="text-accentBlue font-medium">Make your business stand out from your competitors</span> who all have websites that look the same. We build your website from the ground up, just for you.</p>
			<p class="text-2xl mt-6">Bespoke sites are <span class="text-accentBlue font-medium">faster to load</span>, especially compared to WordPress sites. With far less “fat” to be loaded with the rest of the website, the visibility of your website is improved, along with customer satisfaction.</p>
		</div>
	</div>

	<div class="bg-bgOrange py-16 mt-20 md:mt-32">
		<div class="container mx-auto flex flex-col px-5 text-center text-white">
			<p class="text-3xl md:text-5xl self-center md:w-11/12 font-medium">The likelihood a <span class="text-accentBlueHC font-semibold">user goes</span> to a competitor <span class="text-accentBlueHC font-semibold">increases by 32%</span> when your page load time reaches <span class="text-accentBlueHC font-semibold">3 seconds.</span></p>
			<p class="text-xl md:text-2xl self-center mt-4 md:mt-8">Which can easily happen with a customer using a device on a slow network.</p>
		</div>
	</div>

	<div class="container mx-auto px-5">
		<div class="mt-20 md:mt-32">
			<h2 class="text-5xl text-center pb-8 font-semibold">Client <span class="text-accentOrange font-bold">Testimonials</span></h2>
			<div class="">
				<div class="bg-black text-offWhite py-8 px-8 md:w-8/12 mx-auto">
					<p class="text-xl font-light">I can't thank Ollie enough for his amazing service from start to finish he took my ideas I gave him for my website and put his own vision into it and produced a stunning website for my buisness and I am so proud of it. The effort he put into it over the Xmas period to have it up and running for the new year was unexpected and unbelievable to produce such a high standard over a short space of time. I highly recommend Slade Web Solutions to anyone and everyone. Thanks again Ollie</p>
					<p class="font-semibold text-2xl uppercase pt-3">Dean L.</p>
					<a target="_blank" class=" italic" href="https://lawsonsbespokedecorating.com">Lawsons Bespoke Decorating</a>
					<p>2025</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container mx-auto px-5">
		<div class="mt-20 md:mt-32 grid grid-flow-row">
			<h2 class="text-5xl text-center pb-8 font-semibold">Why <span class="text-accentOrange font-bold">Us?</span></h2>
			<div class="md:w-10/12 justify-self-center text-xl md:text-2xl">
				<div class="pb-4 grid grid-flow-col justify-self-start"><img class="w-9 me-6 self-center" src="svg/globe-solid.svg" alt=""> <p>Whatever website you request, we will do our best to make it as <span class="text-accentBlue font-medium">responsive</span> as possible. That means no loading screens, no unnecessary waiting, more customers.</p></div>
				<div class="pb-4 grid grid-flow-col justify-self-start"><img class="w-9 me-6 self-center" src="svg/globe-solid.svg" alt=""> <p>We can provide <span class="text-accentBlue font-medium">databases</span> (and other more advanced backend features), both SQL and Non-SQL options, offering super-fast data retrieval of information.</p></div>
				<div class="pb-4 grid grid-flow-col justify-self-start"><img class="w-9 me-6 self-center" src="svg/globe-solid.svg" alt=""> <p>Still want to be able to <span class="text-accentBlue font-medium">make minor edits</span> to the website <span class="text-accentBlue font-medium">yourself</span> (as you may have been used to with WordPress)? No Problem! We can provide a “Headless Content Management System” for you to modify articles, products, images, even full pages!</p></div>
				<div class="pb-4 grid grid-flow-col justify-self-start"><img class="w-9 me-6 self-center" src="svg/globe-solid.svg" alt=""> <p>One your new website is live, we continue to work with you, providing <span class="text-accentBlue font-medium">free edits and updates under 10 minutes</span> for the next 2 years or the duration you host with us, whichever is longer.</p></div>
				<div class="pb-4 grid grid-flow-col justify-self-start"><img class="w-9 me-6 self-center" src="svg/globe-solid.svg" alt=""> <p>All the text on our sites is <span class="text-accentBlue font-medium">carefully checked by a professional proofreader</span> for accuracy of spelling, grammar and punctuation, as well as for maximum impact on your site's search engine optimisation (SEO).</p></div>
				<div class="pb-4 grid grid-flow-col justify-self-start"><img class="w-9 me-6 self-center" src="svg/globe-solid.svg" alt=""> <p>We are a small company, meaning not only do we charge a very <span class="text-accentBlue font-medium">competitive price</span> (from £750 for a hand-coded 5 page site) but you know you will be getting personal service.</p></div>
			</div>
		</div>
	</div>

	<div class="dark:bg-lightBlack bg-gray-300 px-5 mt-20 md:mt-32 py-12">
		<div class="flex flex-row gap-14 container mx-auto flex-wrap md:flex-nowrap">
			<div class=" text-2xl self-center order-2 md:order-1 w-full md:w-9/12">
				<h2 class="text-5xl pb-6 font-semibold">Our Websites <span class="text-accentOrange font-bold">Perform</span></h2>
				<p class="">Website load time isn't something people often think about, but it plays a huge role on the web. A slow loading site can result in lower rankings on search engines and fewer site conversions</p>
				<p class="pt-3">Test your website with <a class="underline text-accentBlue font-light hover:italic" target="_blank" href="https://pagespeed.web.dev">Google PageSpeed Insights</a> and see how it scores right now.</p>
				<div class="font-light pt-6">
					<div class="pb-4 grid grid-flow-col justify-self-start"><img class="w-9 me-6 self-center" src="svg/globe-solid.svg" alt=""> <p>We aim for between 95 and 100 Performance score on Google</p></div>
					<div class="pb-4 grid grid-flow-col justify-self-start"><img class="w-9 me-6 self-center" src="svg/globe-solid.svg" alt=""> <p class="pt-2">A faster websites improves SEO and Google Ads Performance</p></div>
				</div>
				<a class="button text-xl" href="/contact">Enquire Today</a>
			</div>
			{{ with .Resources.Get "pagespeed.png" }}
			{{ with .Fit (printf "%dx%d webp q90" .Width .Height) }}	
			<div class="self-center order-1 md:order-1 ">
				<img loading="lazy" class="w-full" src="{{ .RelPermalink }}" width="751" height="597" alt="Google Page Insights screenshot showing 100 performance score">
			</div>
			{{ end }}
			{{ end }}
		</div>
	</div>
	<div>
		<div class="container mx-auto px-5 mt-20 md:mt-32 ">
			<h2 class="text-5xl pb-6 font-semibold text-center">Our Most <span class="text-accentOrange font-bold">Recent Projects</span></h2>
			<div class="grid auto-rows-auto gap-4 grid-cols-1 md:grid-cols-2">
				<div class="py-8 px-8 text-center max-w-full">
					<div class="relative h-auto mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[8px] rounded-t-xl max-w-[301px] md:max-w-[512px]">
						<div class="rounded-lg overflow-hidden h-auto bg-white dark:bg-gray-800">
							{{ with .Resources.Get "lawsonsbespokedecorating.png" }}
								{{ with .Fit (printf "%dx%d webp q90" .Width .Height) }}								
								<img loading="lazy" src="{{ .RelPermalink }}" width="854" height="474" class="block w-full rounded-lg" alt="Prior website I made, featuring a Burgundy and Gold colour scheme and background carosel">
								{{ end }}
							{{ end }}
						</div>
					</div>
					<div class="relative mx-auto bg-gray-900 dark:bg-gray-700 rounded-b-xl rounded-t-sm h-[17px] max-w-[351px] md:h-[21px] md:max-w-[597px]">
						<div class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[56px] h-[5px] md:w-[96px] md:h-[8px] bg-gray-800"></div>
					</div>
					<p class="font-semibold text-2xl uppercase pt-3 pb-6">Lawson's Bespoke Decorating</p>
					<a class="button text-xl" target="_blank" href="https://lawsonsbespokedecorating.com">Visit Website</a>
				</div>
				<div class="py-8 px-8 text-center">
					<div class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[8px] rounded-t-xl max-w-[301px]  md:max-w-[512px]">
						<div class="rounded-lg overflow-hidden bg-white dark:bg-gray-800">
							{{ with .Resources.Get "SAMPLE.png" }}
								{{ with .Fit (printf "%dx%d webp q90" .Width .Height) }}								
								<img loading="lazy" src="{{ .RelPermalink }}"  width=822 height=474 class="block w-full rounded-lg" alt="Blank image saying 'your site here'">
								{{ end }}
							{{ end }}
						</div>
					</div>
					<div class="relative mx-auto bg-gray-900 dark:bg-gray-700 rounded-b-xl rounded-t-sm h-[17px] max-w-[351px] md:h-[21px] md:max-w-[597px]">
						<div class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[56px] h-[5px] md:w-[96px] md:h-[8px] bg-gray-800"></div>
					</div>
					<p class="font-semibold text-2xl uppercase pt-3 pb-6">This could be your site!</p>
					<a class="button text-xl" href="/contact">Enquire Today</a>
				</div>
				
			</div>
		</div>
	</div>


	<div class="container mx-auto px-5 mt-20 md:mt-32">
		<h2 class="text-5xl pb-6 font-semibold text-center">What Services <span class="text-accentOrange font-bold">Do You Offer?</span></h2>
		<div class="grid text-2xl gap-4 w-10/12 mx-auto text-center place-content-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3" >
			<p class="border-accentBlue border-4 py-8 px-12 grid place-content-center">Website Design and Development</p>
			<p class="border-accentBlue border-4 py-8 px-12 grid place-content-center">Website Hosting</p>
			<p class="border-accentBlue border-4 py-8 px-12 grid place-content-center">Domain Registration and Management</p>
			<p class="border-accentBlue border-4 py-8 px-12 grid place-content-center">Advanced Backend Features</p>
			<p class="border-accentBlue border-4 py-8 px-12 grid place-content-center">Website Modification and Improvement</p>
			<p class="border-accentBlue border-4 py-8 px-12 grid place-content-center">Custom Domain Email Addresses</p>
		</div>
	</div>

</main>
{{ end }}