{{ define "main" }}
<main class="">
	<div class="container mx-auto px-4">
		<div class="mt-40 flex flex-col">
			<h1 class="text-7xl w-9/12">Websites from the ground up, because <span class=" text-accentOrange font-medium">your business deserves it.</span></h1>
			<p class="text-right w-9/12 text-4xl right-0 mt-32 self-end mb-8">Bespoke websites, that means no WordPress, no Squarespace, no Wix, <span class="text-accentBlue">no website builder of any kind!</span></p>
			<a class="bg-accentOrange uppercase font-montserrat self-end text-offWhite text-2xl font-semibold w-fit py-3 px-14 transition-all duration-100 hover:border-none border-r-[6] border-b-[6] border-black" href="/about#contact">Enquire Today</a>
		</div>
	</div>

	<div class="container mx-auto px-4">
		<div class="mt-32">
			<h2 class="text-5xl text-center">Why go <span class="text-accentBlue font-medium">Bespoke?</span></h2>
			<p class="text-2xl mt-6 font-light">Because your business is unique, and your website should be too. <span class="text-accentOrange font-normal">Make your business stand out from your competitors</span> who all have websites that look the same. We build your website from the ground up, just for you.</p>
			<p class="text-2xl mt-4 font-light">Bespoke sites are <span class="text-accentOrange font-normal">faster to load</span>, especially compared to WordPress sites, this is due to far less “fat” that has to be loaded with the rest of the website. Improving your websites visibility and customer satisfaction.</p>
		</div>
	</div>

	<div class="bg-bgOrange py-16 mt-32">
		<div class="container mx-auto flex flex-col px-4">
			<p class="text-5xl text-center self-center w-9/12">The likelihood a <span class="text-accentBlue font-medium">user goes</span> to a competitor <span class="text-accentBlue font-medium">increases by 32%</span> when your page load time reaches <span class="text-accentBlue font-medium">3 seconds.</span></p>
			<p class="text-2xl text-center self-center mt-8 font-light">Which can easily happen with a customer using a device on a slow network.</p>
		</div>
	</div>

	<div class="container mx-auto px-4">
		<div class="mt-32">
			<h2 class="text-5xl text-center pb-8">Customer <span class="text-accentBlue font-medium">Testimonials</span></h2>
			<div class="grid auto-rows-auto gap-4" style="grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));">
				<div class="bg-black text-offWhite py-8 px-8">
					<p class="text-xl font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					<p class="font-semibold text-2xl uppercase pt-3">John D.</p>
				</div>
				<div class="bg-black text-offWhite py-8 px-8">
					<p class="text-xl font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					<p class="font-semibold text-2xl uppercase pt-3">John D.</p>
				</div>
				<div class="bg-black text-offWhite py-8 px-8">
					<p class="text-xl font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					<p class="font-semibold text-2xl uppercase pt-3">John D.</p>
				</div>
				<div class="bg-black text-offWhite py-8 px-8">
					<p class="text-xl font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					<p class="font-semibold text-2xl uppercase pt-3">John D.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container mx-auto px-4">
		<div class="mt-32 grid grid-flow-row">
			<h2 class="text-5xl text-center pb-8 ">Why <span class="text-accentOrange font-medium">Us?</span></h2>
			<div class="w-10/12 justify-self-center font-light text-offWhite text-2xl">
				<div class="pb-4 grid grid-flow-col justify-self-start"><i class="fa-solid fa-globe text-accentBlue text-3xl pe-6 self-center"></i> <p>Whatever website you request, we will do our best to make it as <span class="text-accentOrange font-normal">responsive</span> as possible. That means; no loading screens, no unnecessary waiting, more customers.</p></div>
				<div class="pb-4 grid grid-flow-col justify-self-start"><i class="fa-solid fa-globe text-accentBlue text-3xl pe-6 self-center"></i> <p>We can provide <span class="text-accentOrange font-normal">databases</span>, both SQL and Non-SQL options, so if you need super-fast data retrieval of information, we can provide that for you.</p></div>
				<div class="pb-4 grid grid-flow-col justify-self-start"><i class="fa-solid fa-globe text-accentBlue text-3xl pe-6 self-center"></i> <p>Still want to be able to <span class="text-accentOrange font-normal">make minor edits</span> to the website <span class="text-accentOrange font-normal">yourself</span> (As you may have been used to with WordPress)? No Problem! We can provide a “Headless Content Management System” for you to modify articles, products, images, even full pages!</p></div>
				<div class="pb-4 grid grid-flow-col justify-self-start"><i class="fa-solid fa-globe text-accentBlue text-3xl pe-6 self-center"></i> <p>We take care of you even after the project is complete. With edits and <span class="text-accentOrange font-normal">updates under 10m being free</span> for the next 2 years or the duration you host with me, whichever is longer.</p></div>
				<div class="pb-4 grid grid-flow-col justify-self-start"><i class="fa-solid fa-globe text-accentBlue text-3xl pe-6 self-center"></i> <p>We are a small company, meaning not only do we charge a very <span class="text-accentOrange font-normal">competitive price</span> but you know you will be getting 1 on 1 service.</p></div>
			</div>
		</div>
	</div>
</main>
{{ end }}