{{ define "main" }}
<main class="container mx-auto px-4">
    <section class="mx-auto">
            <div class="text-center py-12">
                <h2 class="text-4xl font-semibold text-gold">Leave your Feedback Below!</h2>
                <p class="text-2xl mb-6">Any review is greatly appreciated!</p>
                <a target="_blank" class="bg-burgundy uppercase font-libre text-white text-xl w-fit py-3 px-14 transition-all duration-100 hover:bg-gold" href="https://www.google.com/search?q=Lawson%27s+Bespoke+Decorating&sca_esv=9e8840edf747cecc&sxsrf=ADLYWIKIypuOXxREjbMj4t_pSuo6ZQgXtQ%3A1736459987429&ei=00aAZ67yGa6dhbIPqtuFKA&ved=0ahUKEwjup97F0emKAxWuTkEAHaptAQUQ4dUDCBA&uact=5&oq=Lawson%27s+Bespoke+Decorating&gs_lp=Egxnd3Mtd2l6LXNlcnAiG0xhd3NvbidzIEJlc3Bva2UgRGVjb3JhdGluZzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYR0j0BlCyBViyBXABeAGQAQCYAQCgAQCqAQC4AQPIAQD4AQGYAgGgAgqYAwCIBgGQBgiSBwExoAcA&sclient=gws-wiz-serp#lrd=0x47d977ae563a05df:0x1163a22ec2c171d8,3,,,,">Leave Review</a>
            </div>
    </section>

    <section class="mt-12">
        <div class="grid auto-rows-auto gap-4" style="grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));">
            {{ range .Pages }}
            <div class="px-8 py-8 bg-burgundy text-gold grid  ">
                <h2 class="text-xl font-libre place-content-start">{{ .Content }}</h2>
                <div class="place-content-end text-gold">
                    <hr class="my-4 border-t-2 border-gold opacity-70">
                    <div class="grid grid-flow-col">
                        <div class="">
                            {{ $stars := .Param "stars" }}
                            {{ range seq $stars}}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="w-5 inline-block">
                                    <path stroke="currentColor" fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/>
                                </svg>
                            {{ end }}
                        </div>
                        <p class="text-xl text-right font-semibold self-end">- {{ .Title }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </section>
</main>
{{ end }}