<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
        offWhite: '#D9D9D9',
        accentBlue: '#23B99A',
        accentOrange: '#E74C3B',
        bgOrange: "#C83828",
        pageBg: '#1A1F22'
      }
        },
        fontFamily: {
            cormorant: ['Cormorant', 'serif'],
            libre: ['Libre Franklin', 'sans-serif']
        }
        }
      }
</script>
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
