<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            offWhite: '#D9D9D9',
            accentBlue: '#17b99a',
            accentBlueHC: '#70E6CB',
            accentOrange: '#e84c3b',
            bgOrange: "#b03325",
            pageBg: '#0d0f17',
            lightBlack: '#08090d',
            stepdown: "#11141d",
          }
        },
        fontFamily: {
          montserrat: ['Montserrat', 'sans-serif']
        }
        }
      }
</script>
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
