<nav id="hamburgerMenu" class="font-libre text-white bg-pageBg fixed h-full w-full overflow-y-auto z-30 grid invisible place-content-center transition-opacity opacity-0 duration-300">
    {{ $la := dict
        "vendor" "tabler"
        "name" "outline/arrow-right"

    }}
    <ul class="grid h-2/3 list-none text-5xl md:text-6xl gap-6 text-center place-items-center">
        <li class="hover:translate-x-3 transition-transform duration-200"><a class="block" href="/">Home</a></li>
        <li class="hover:translate-x-3 transition-transform duration-200"><a class="block" href="/contact">Contact</a></li>
    </ul>
</nav>