{{ define "banner" }}
<div></div>
{{ end }}

{{ define "main" }}
	<main class="container mx-auto px-4 pt-12 grid place-items-center text-center">
        <h1 class="text-8xl text-gold font-bold mb-4">404</h1>
        <h2 class="text-5xl font-semibold mb-2">Uh Oh, that's an unknown page!</h2>
        <p class="text-xl mb-7">Hopefully the page you want is along the top! Otherwise;</p>
        <a class="bg-burgundy uppercase font-libre text-white text-xl w-fit py-3 px-14 transition-all duration-100 hover:bg-gold" href="/about#contact">Contact Us</a>
    </main>
{{ end }}